body {
    width: 100%;
    height: 150%;
    
}



.menu-principal{
    background-color: rgb(168, 36, 36);
    height: 200%;
    width: 100%;

}

.centro{
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 1300px;
    height: 100%;
}
.logo{
    margin-left: 35%;

}
.contador{
    margin-top: 14%;
}
.botao{
    margin-top: 2%;
    margin-left: 45%;
}

.Modelagem img{
    max-width:600px;
    max-height:550px;
    height: auto;
    margin-left: 4%;
   
}
.eletronica img{
    max-width:35%;
    max-height:550px;
    height: auto;
    margin-left: 10%;
   
}

.estrategia img{
    max-width:75%;
    max-height:550px;
    height: auto;
    margin-left: 10%;
    
   
}

.contato{
    margin-top: 2%;
    margin-left: 40%;
}

.duvida{
    margin-top: 2%;
    margin-left: 20%;
}